[2015-06-21 17:02] Eureka22 opened #4 "About temp variables"
Some temporary variables are used multiple times for different use. Need to be fixed for better understanding.

[2015-06-21 17:15] m-byte commented on #4
If you have an editor that supports refactoring variable names, just add `var` in front of the second usage of the variable, then do the refactoring. Works like a charm in WebStorm.

[2015-06-21 17:16] Eureka22 commented on #4
Yes I am doing it that way.

[2015-06-22 12:54] Eureka22 opened #6 "Tests required"
Various tests need to be performed to make sure our refactoring is not introducing bugs or dramatic loss of performance.

[2015-06-22 23:21] tylerspencer237 opened #7 "Linux installation"
Could you please put the commands to put into a server? I have LEMP installed. For ubuntu/debian.

[2015-06-23 01:12] Eureka22 commented on #6
The new version is online and I am collecting feedback from my players. Up till now there is no bug report.

[2015-06-23 01:12] #6 closed

[2015-06-23 01:15] Eureka22 commented on #7
Suppose your nginx document root is at `/var/www`, simply do the following:

[code]

Then visit http://your-server-ip/agar/ it should work.

[2015-06-23 01:32] Eureka22 commented on #7
Oh and don't forget to replace the `CONNECTION_URL` with your own ip and port in `main_out.js`

[2015-06-24 10:20] Eureka22 opened #8 "Call for test for in game chat."
Just finish the test feature, it is in `web-server` branch. It works with my server side https://github.com/Eureka22/Ogar.  I will really appreciate it if you guys can help me test that. No other configurations required.

It looks like this:
![image](https://cloud.githubusercontent.com/assets/5158896/8327532/c41e94fa-1a9b-11e5-87cc-f42b5f6ef2df.png)

[2015-06-24 17:20] m-byte commented on #8
Don't forget to document your protocol extension ;)

[2015-06-24 17:21] Eureka22 commented on #8
yes I did :)

[2015-06-24 17:27] #4 closed

[2015-06-24 17:27] #7 closed

[2015-06-24 19:09] m-byte commented on #8
I think we should reduce the overhead of the chat function a bit more. Client to server, only the message should be needed. Also, I would change the order of the s2c package as follows:
r(uint8); g(uint8); b(uint8); name, terminated by '\0'; message, terminated by '\0'
That way, it would be more in line with other packages.

Btw: The node-id (I would probably send it after b and before name) might

[2015-06-24 19:11] m-byte commented on #8
Something I forgot to write in my last messages: good job!

[2015-06-25 20:09] m-byte commented on #8
I just sent you a merge request for the server. As I wrote there, I will adjust agar-clone accordingly either today or tomorrow.

As a user usually has one or more node-ids, I can't think of an easy way to pick the best one to send. Therefore, I am using bits 2, 4, and 8 of the flags for additional offsets. This way, it can easily be added once someone feels the need to do this client side and sti

[2015-06-25 21:06] m-byte commented on #8
Sent you both merge request.

[2015-06-25 21:45] tylerspencer237 opened #11 "Cannot connect"
So I am unable to connect to my server. I got the node_out.js set correctly and works if I launch index.html in firefox but does not work once I put it into my server and go to IP/agar. It shows "If you cannot connect to the servers, check if you have some anti virus or firewall blocking the connection."

[2015-06-25 23:01] Eureka22 commented on #11
Are you using nginx or Apache to deploy? Check if that support socket...

[2015-06-25 23:21] Eureka22 commented on #8
@m-byte just fixed a bug.

[2015-06-25 23:23] Eureka22 commented on #11
Another reason might be some of your action make the server side down, check if your server is still running.

[2015-06-25 23:58] tylerspencer237 commented on #11
I'm using ngnix and the server is up.

[2015-06-26 01:14] m-byte commented on #8
Oh :flushed: I just wrote the code down and apparently forgot to do a proper test afterwards.

[2015-06-26 01:22] Eureka22 commented on #8
never mind, it works fine now :)

[2015-06-26 12:25] Eureka22 opened #12 "Mobile control ideas"
On-screen Joystick or gravity control, which do you think is better for this game?

[2015-06-26 13:50] tylerspencer237 commented on #11
It still says "If you cannot connect to the servers, check if you have some anti virus or firewall blocking the connection." even though it shows the client. Let me repeat again that it works if I open the index.html on my own computer in Firefox

[2015-06-26 13:55] Eureka22 commented on #11
You can see the console to see if it outputs any useful information. And make sure all the scripts are loaded.

[2015-06-26 17:11] tylerspencer237 commented on #11
"Make sure all the scripts are loaded?"

[2015-06-26 17:13] Eureka22 commented on #11
Make sure main_out.js is loaded. Oh as you see the notification about connection, the scripts are already loaded. Never mind. Do you have firewall or something open?

[2015-06-26 17:23] tylerspencer237 commented on #11
No

[2015-06-26 17:27] Eureka22 commented on #11
That's weird, if that is the case, I am afraid I cannot help you figure that out. But I will keep this issue open since many other people have already set up the client on there servers, good luck!

[2015-06-26 17:32] tylerspencer237 commented on #11
You mentioned to load main_out.js, I would of thought it was loaded so how would I go about loading it manually?

[2015-06-26 17:34] Eureka22 commented on #11
If you are viewing the webpage in a browser, simply go into developer mode and check if all resources are loaded. And check the console output as I mentioned before

[2015-06-26 17:39] tylerspencer237 commented on #11
The console repeats
"Find US-Fremont" and "TypeError: response is null"

[2015-06-26 18:16] tylerspencer237 commented on #11
And I found out that it said POST 405 Not Allowed main.php

[2015-06-26 18:20] tylerspencer237 commented on #11
I'm having trouble trying to solve the 405 not allowed in console

[2015-06-27 02:01] m-byte commented on #12
I think a joystick would get in the way on the screen of a smaller phone. Something I was thinking about: Why not let the player choose on the main screen?

[2015-06-27 02:08] m-byte commented on #11
Try changing the method in attemptConnect (main_out.js) from POST to GET. It's currently line 259.
Next, change info.php to info and download m.agar.io/info into the directory.

Another way to solve your problem: install php on your server :wink:

[2015-06-27 02:23] Jackster35 commented on #12
The ability to choose at the menu screen would be awesome. Every player has their own style of gaming.

[2015-06-27 02:26] Eureka22 commented on #12
btw a joystick control will be something like https://github.com/Eureka22/TinkerControllerWebApp.git . It is such that you start touch the screen, and that becomes a joystick, then you drag. If you stop touching, the joystick will disappear.

I would prefer setting the joystick as default and we allow players to choose gravity control.

[2015-06-27 02:41] m-byte commented on #12
Sounds good‎ :+1:                                                                                                                                                                                                                Von: Fei XiaGesendet: Samstag, 27. Juni 2015 04:26An: Eureka22/agar-cloneAntwort an: Eureka22/agar-cloneCc: m-byteBetreff: Re: [agar-clone] Mobile control ideas (#12)btw a joy

[2015-06-27 03:24] Eureka22 commented on #11
@m-byte I remember vram's Ogar has something like a master server that can also do the work of i`nfo.php`. But I haven't finish the support for that yet.

[2015-06-27 03:26] m-byte commented on #11
@Eureka22 I know, but I think at the moment, it is easier for tylerspencer237 to go one of the routes described in my post

[2015-06-27 03:27] Eureka22 commented on #11
@m-byte sure.

[2015-06-27 14:59] tylerspencer237 commented on #11
![ggg](https://cloud.githubusercontent.com/assets/13008477/8392528/5e1c9c70-1ca2-11e5-8b23-8963a303f55e.png)
![ggh](https://cloud.githubusercontent.com/assets/13008477/8392529/5e3dc756-1ca2-11e5-83e0-d7425c21d1d7.PNG)

[2015-06-27 15:13] m-byte commented on #11
@tylerspencer237 You did not try what I wrote above. Please do the following things:

 - First, edit `main_out.js`:
   * Line 251 currently reads `wjQuery.ajax("main.php", {`. Change this to `wjQuery.ajax("main", {`
   * Line 259 currently reads `method: "POST",`. Change this to `method: "GET",`

 - Download `m.agar.io/info` and put it into the same directory as `main_out.js`

[2015-06-27 15:41] THEDARKK commented on #11
Same , http://i.gyazo.com/caafaa10cc57cc67c5a6fa4d265774ad.png

[2015-06-27 15:53] tylerspencer237 commented on #11
Okay so I believe I know what happened. I used an A record to direct my domain to my server. When I used my sub-domain, the error message above occurred, however when I used my numerical ip, it somehow worked without any trouble. I am clueless on why the subdomain wouldn't work, however.

[2015-06-27 15:53] m-byte commented on #11
@THEDARKK
1. Not exactly the same. @tylerspencer237 is getting error 405, you are getting a 404.
2. Where did you put the file you downloaded from agar.io?

[2015-06-27 15:56] tylerspencer237 commented on #11
@m-byte Who are you directing that question to?

[2015-06-27 15:57] m-byte commented on #11
@tylerspencer237 Can you try prepending `ws://` to your `CONNECTION_URL` when it is set to your subdomain?

[2015-06-27 15:58] m-byte commented on #11
@tylerspencer237 The whole message was directed to THEDARKK.

[2015-06-27 15:59] tylerspencer237 commented on #11
I javascript:connect("ws://http://connectionURL") and it connects.

[2015-06-27 16:00] tylerspencer237 commented on #11
What's also weird is that it still logs out 405 main.php even though I changed it to "main" in main_out.js

[2015-06-27 16:04] THEDARKK commented on #11
New error : No 'Access-Control-Allow-Origin' header is present on the requested resource

[2015-06-27 16:06] m-byte commented on #11
@tylerspencer237 Did you reload the page in your browser? Please try clearing your cache.
`ws://http://connectionURL` looks wrong. You should only specify one protocol (`ws://connectionURL`)

I just looked through the code. The following lines (285-287) prevent you from using a subdomain:
[code]

Change that to
[code]

Now, you should be able to set `CONNECTION_URL` to `your.sub.domain`.

[2015-06-27 16:07] m-byte commented on #11
@THEDARKK Are you trying to connect to the official servers? That's prevented on their site and there is no real reason to do anything about that. If you want to use a custom client, just use your own server.

[2015-06-27 16:09] tylerspencer237 commented on #11
Hm, it still logs 405 errors for main.php

[2015-06-27 16:18] m-byte commented on #11
That's really weird. Try this:
In your browser, press F12. Are you using chrome? If so, go to the `Sources` tab and select main_out.js on the left side. Press Ctrl+F and enter `main.php`. Other browsers might have slightly different names for the tab.
If it cannot be found, that would be rally weird. Otherwise, just edit the line in your main_out.js.

[2015-06-27 16:21] THEDARKK commented on #11
@m-byte I just want to connect to my server, I have put my ip. but his locks ..

[2015-06-27 16:26] m-byte commented on #11
@THEDARKK please install php on your server. Next, go to the agar-clone directory and enter `git reset --hard`. Set `CONNECTION_URL` to the ip and port (`ip:port`) of your ogar server.

[2015-06-27 16:39] tylerspencer237 commented on #11
It works completely fine now on the subdomain. Thank you for having the patience and time to help. I really appreciate it.

[2015-06-27 16:40] m-byte commented on #11
Ok, I'll edit the main_out.js in the repo so that other users won't run into this problem.

[2015-06-27 17:13] Jackster35 opened #16 "Consideration of password locked names?"
Have you considered password locking names? I understand people would be able to override it via ws://ip:port but maybe it could be incorporated in to the server too?

Just a thought :)

[2015-06-27 17:26] Jackster35 opened #17 "Chat super big"
Ever since the latest push of main_out.js, the chat has been super huge

Is there a way of using the old configuration as that was perfect? Thank man!

http://i.imgur.com/XFzifMa.png

[2015-06-27 17:29] Jackster35 commented on #17
I've worked out my own fix for it, but it would still be useful to fix it for others. :)

[2015-06-27 17:49] tylerspencer237 commented on #11
It seems that new skins I put into the skins folder don't work. Let's say I put a photo of earth named earth.png, it works fine. If I copy it and rename it to earthtwo.png, it does not work. However, I am able to use a picture of a keyboard, name it earth.png and it works. It seems like it doesn't load any skins with new names

[2015-06-27 17:50] Eureka22 commented on #17
Got an exam tomorrow, will fix it later, should not be too hard.

[2015-06-27 17:51] Eureka22 commented on #16
I will do multi server support later, will address this problem.

[2015-06-27 17:51] Eureka22 commented on #11
Thanks@m-byte, you are really helpful

[2015-06-27 17:52] Jackster35 commented on #16
As so nickname locking would work? :dart:

[2015-06-27 17:53] m-byte commented on #11
@tylerspencer237 That's because your server is most likely not running php. You can read this page regarding an easy way to check for php support: http://www.cyberciti.biz/faq/how-do-i-test-php-installation-with-a-phpinfo-page/

@Eureka22 You are welcome

[2015-06-27 17:53] Eureka22 commented on #16
Wait, what do you mean by nickname locking?

[2015-06-27 17:54] Jackster35 commented on #16
Hm, so certain names will require a password to be used. Like, "admin" would require password "123" in order to be used. I hope that makes more sense haha

[2015-06-27 17:54] m-byte commented on #17
@Jackster35 Would you care to share how you fixed it? Would be a lot easier then us tracking a bug down you already fixed.

[2015-06-27 17:55] Eureka22 commented on #17
I think it is because I hard-coded the chat board width.

[2015-06-27 17:56] Jackster35 commented on #17
I basically reverted to the old configuration. If you like, I could push my changes and you could merge?

[2015-06-27 17:57] Eureka22 commented on #16
That's more like registered users am I right? I will think about it but I am not sure if I will add it

[2015-06-27 17:58] Jackster35 commented on #16
Yeah, exactly what I was thinking of! But certain users instead of everybody.

[2015-06-27 17:58] Eureka22 commented on #17
No rush :) we will investigate later, btw what it the resolution of your screen?

[2015-06-27 17:59] Jackster35 commented on #17
I run at 1920x1080 sir :)

[2015-06-27 17:59] m-byte commented on #16
Since we are already using a modified Ogar-Server, it is possible. The easiest solution would have one password to unlock all otherwise locked names and a list of forbidden names. Could definitely be implemented. We would have to introduce some additional packets. Most likely one error packet (one or two byte(s) for an error code) and one password (MD5 or something) packet.

[2015-06-27 18:02] Eureka22 commented on #17
Maybe you can change the scaleFactor to 1 in drawChatBoard function and it will be the same as old version. Originally I would like it to look better on computer and mobile phone but the solution is not so good, I will try another one later :)

[2015-06-27 18:11] tylerspencer237 commented on #11
I got it now, thank you

[2015-06-27 18:13] m-byte commented on #11
Great

[2015-06-27 20:30] m-byte opened #18 "Chat bug"
Enter should only focus the chat field while a player is already in a game (as player or spectator). Currently, it is possible to chat from the hello dialog by pressing enter, typing in a message and then pressing enter again.

Expected behavior: On the hello dialog (at least when `#nick` is focused), enter should start a new game.

[2015-06-27 20:36] tylerspencer237 opened #19 "Skin Gallery"
When I go into my gallery, all the pictures show up as white and don't load

[2015-06-27 21:06] vram4 commented on #16
I always thought an account system would be cool. You could track stuff such as stats/achieves and friends lists. Maybe add a feature in which users that are registered would have different colored names than the unregistered ones?

[2015-06-27 21:08] Jackster35 commented on #16
That sounds like an awesome idea! Maybe link it to a mysql database or something and use PHP as the backend?

[2015-06-27 21:18] vram4 commented on #16
Yeah, i have experience with mysql but not with php unfortunately. Also if we were to make this, it should be in another repo as i feel that there might be some problems if i try to make Ogar compatible (mainly lag from extra code) with both clients.

[2015-06-27 21:27] Jackster35 commented on #16
Yeah, it would be a great idea as it'll make it easy to moderate abusive users, while keeping it clean. The statistic side would give some kind of competitiveness with it. Sounds like a lot to do so I don't expect you to do it, just ideas haha :)

[2015-06-27 21:38] m-byte commented on #16
I would prefer to have everything based on node.js. That way, it could be one complete package. Makes it easier for users to install... Another reason against php: we need at least some kind of token in the websocket. It would definitely have to be integrated into Ogar.

Once Ogar-client is done, it would be possible to merge it with a fork (or maybe just a branch?) of Ogar. Then, a single npm ins

[2015-06-27 21:43] m-byte commented on #16
Also, node.js would allow us to use passport for authentication. That way, almost any form of authentication is supported without us having to worry about it.

[2015-06-28 02:11] m-byte commented on #16
I just realized, that having a user management would also allow for another feature:
All the administrative functions that are usually only available on the console could be redirected to the chat for users with the appropriate permissions.

[2015-06-28 02:20] Eureka22 commented on #16
@m-byte That would be awesome, we should seriously consider adding the user management.

[2015-06-28 02:31] Eureka22 commented on #19
Can you look at the console? Maybe lack of some dependencies.  You will need `php5-gd` to make it work. As it is not a core function in agar-clone, we didn't write it in readme.

You can look at [this](http://lifeonubuntu.com/how-to-install-php-gd2-library-on-ubuntu/) about how to install GD2 library.

[2015-06-28 02:31] #19 closed

[2015-06-28 02:32] #11 closed

[2015-06-28 02:32] #8 closed

[2015-06-28 02:33] m-byte commented on #16
@Eureka22 Once Ogar-client is working ;) Shouldn't be too long from now, though. All the websocket stuff is already working and I am currently working on the drawing functions.

[2015-06-28 02:39] Eureka22 commented on #16
@m-byte Oh, it comes to me that when you write the drawing functions, are you going to use something other than canvas? Maybe some advanced render engines using webGL? That will make the graphics better and less demanding for hardware capacity. (As @vram4 his laptop cannot run official agar smoothly lol)

[2015-06-28 03:11] m-byte commented on #16
Good idea. I already started the with canvas, but I'll search for a better renderer now and try to use that.

[2015-06-28 03:14] Eureka22 commented on #16
`pixi.js` might be a good choice. You can also find some here https://github.com/showcases/javascript-game-engines

[2015-06-28 03:24] Eureka22 commented on #17
fixed

[2015-06-28 03:24] #17 closed

[2015-06-28 03:38] m-byte commented on #16
Ok, I'll switch from merge-js to browserify. That's probably the easiest way of managing the code, now that pixi will be used ;)

[2015-06-28 03:47] vram4 commented on #16
@m-byte We should just create a new repo for all this custom stuff.

[2015-06-28 03:49] Eureka22 commented on #16
@vram4 I can help manage, what about calling it CIGar :)

[2015-06-28 04:32] #18 closed

[2015-06-28 09:19] Eureka22 opened #20 "Call for test for mobile control"
Hi guys, I just finished the joystick control for my agar-clone, it should be very intuitive and it should work on most mobile phones and tablets. As I only have limited types of devices, could you tell me how do you feel after playing the game on mobile devices? I appreciate your feedback :)

Here is my screenshot:
![wechat_1435482888](https://cloud.githubusercontent.com/assets/5158896/8395792/7b

[2015-06-28 10:56] Jackster35 opened #21 "Crash when eating virus"
Hey, I've just updated our client to the latest and found that sometimes when eating a virus, your client will crash.

We test around 300-400 mass

[2015-06-28 10:58] Eureka22 commented on #21
Thank you, I will investigate. BTW, when you say eat, you mean eat virus or collide into virus and burst?

[2015-06-28 10:58] Jackster35 commented on #21
Both cause it I'm being told

[2015-06-28 11:09] Eureka22 commented on #21
@Jackster35 Can you provide more details? I just tested but didn't have the same issue. And crush when eating virus is more like a server-side problem?

Can you describe the crush a little bit more and tell me what version of server are you using. Thanks.

[2015-06-28 11:15] m-byte commented on #16
Here you guys go: https://github.com/m-byte/Cigar
@Eureka22 @vram4 I added you as collaborators, so you'll have direct access to the main repo.

[2015-06-28 11:16] Jackster35 commented on #21
It would seem your latest push has fixed this. I believe the user reporting it is on an old version of the code. Thank you anyways, appreciate it man :)

[2015-06-28 11:17] Eureka22 commented on #21
@Jackster35 The least I could do :)

[2015-06-28 11:17] #21 closed

[2015-06-28 11:17] Eureka22 commented on #16
@m-byte Awesome, as the Ogar-client is not finished yet, I will first put my client into it. And we gradually replace that with new client :)

[2015-06-28 11:18] Jackster35 commented on #16
You guys are just awesome! :]

[2015-06-28 11:19] Eureka22 commented on #16
Oh @m-byte As for user management, I would like to use mongoDB, is that OK?

[2015-06-28 11:26] m-byte commented on #16
@Eureka22 I would like to use passport for user-management. Standard setup would be in combination with passport-local, which uses mongoDB.

I like vram4's idea: We could use brighter colors for authenticated clients.

I'll write up some ideas for the protocol extensions needed to authenticate users.

Btw: we should probably just change the leaderboard to a link to github, whenever an old client c

[2015-06-28 11:32] Eureka22 commented on #16
@m-byte passport is easier to setup, better idea :)

As for the leaderboard, by doing that, do you mean you want the old client users to switch to new clients?

[2015-06-28 11:34] m-byte commented on #16
Actually, thinking about it: we should support the official client as long as possible. Up to now, there is no difference between them that would cause vanilla clients to not work with it. So, we'll leave it as is. Once the support is broken, we can think about this.

[2015-06-28 11:36] Eureka22 commented on #16
@m-byte Yes. Maybe the official server will be adding things in and we need to change accordingly, but not a problem for now.

[2015-06-28 11:42] helma27 opened #22 "Admin Chat?"
Hello @Eureka22
Is it possible to make a chat for Admin or Manager?
Like, the color of the text is defferent from other.

[2015-06-28 11:46] Eureka22 commented on #22
@helma27 We are thinking about two things, the first is system-level broadcast, that you can broadcast a message across the system using a different color or font. As for the admin chat, it will require user management system which we are trying to implement.

[2015-06-28 12:11] m-byte commented on #16
My proposal for the new packets: https://github.com/m-byte/Cigar/issues/4

[2015-06-28 14:57] Eureka22 opened #23 "About license"
@m-byte Can I add a license to protect the additional part of the code (not the original one)? For example, if I want to put it under Apache license, or if I want everyone who use it provide a link to this repo?

What remind me of this idea is that I see some one running my client code for commercial use, even though I wrote the disclaimer in readme. I am afraid this will cause bad effect and caus

[2015-06-28 16:24] Eureka22 commented on #20
Another thing is that I decided not to use gravity control because in this game we need quite precise control and gravity control cannot meet such requirement. Just let me know what you think :)

[2015-06-28 17:22] BasvdW22 commented on #20
Just tested on my LG G3 (5,5 inch display) and my iPad 3, it works pretty good! I think there's maybe some lag and a little bit of a delay but I don't know if that's different than the desktop version. One thing I noticed is that the blobs don't show up if they are near the left or right side of my iPad screen when I'm spectating. Also, the canvas is a bit trippy when spectating a big blob on my i

[2015-06-28 22:57] Jackster35 opened #24 "Bigger menu for mobile users"
Our site uses a larger menu, which looks to break the mobile version as it seems to be preset for the default one. Could you direct me where to change the dimensions of could you implement a way of auto detection?

Either would be awesome, thanks Eureka22 :)

[2015-06-29 03:21] Eureka22 commented on #24
What about make it scrollable? Or resize accordingly(that will make the text smaller)

[2015-06-29 03:53] Eureka22 commented on #20
@BasvdW22 Thank you for your feedback. The delay problem might be because the network is slower than desktop devices. And the graphics problems is because at this moment the rendering is not efficient enough(as you can feel if you play for a little while your mobile phone will be very hot). We will address this issue in our next version's client which uses a different rendering engine. :)

[2015-06-29 07:19] BasvdW22 commented on #20
@Eureka22 Ah nice! You did a pretty good job on the mobile version! Another thing I should mention: I'm now sitting in a train in the Netherlands and the Internet speed is a bit slow, so after a couple of seconds the client freezes. It also freezes instantly if I type in my nickname, let my keyboard open and press play so my keyboard disappears.

[2015-06-29 07:25] Eureka22 commented on #20
@BasvdW22 Thanks. The client require pretty high Internet speed ranging from 20KB/s to 80KB/s because the client need to send mouse position 40 times a second and the server need to send the position of all objects (including food) 60 times a second. I will see if we can optimise that.

I didn't experience the second issue you mentioned. But I know it's annoying to have a keyboard pop up in the ga

[2015-06-29 07:40] vram4 commented on #20
@Eureka22 Actually, the update packet is sent every 50 ms for Ogar, so 20 times a second (it is 40 ms on vanilla though). Not sure about mouse position interval

[2015-06-29 07:46] Eureka22 commented on #20
@vram4 Oh yes. I forgot there are some interpolation. From my test the download speed is about 20-50KB/s, the upload speed is 10-20 KB/s. Can we further optimise that?

I am pretty sure some choppy frames on mobile devices are caused by the network problem.

[2015-06-29 07:48] Eureka22 commented on #20
@BasvdW22 Oh, I forgot to ask you are you visiting my site or your site? My server is in SF, USA so if you are in Netherland and visiting my site, there is no wonder the connection will be slow and you will experience delay.

[2015-06-29 07:50] vram4 commented on #20
@Eureka22 Yes, ive already made it so that the server sends the data for food once. The client will automatically render it until the data that marks it for removal is sent. We can further optimize the packets by sending name data only once. But im not sure how to do that without affecting server performance. Also i dont think the game should be using 20-50 kb/s, that seems like a lot.

[2015-06-29 08:16] Eureka22 commented on #20
Maybe I overestimated the bandwidth required. And I did a test Ogar vs vanilla server, both in spectating mode, you can find Ogar is already better than vanilla server.

![image](https://cloud.githubusercontent.com/assets/5158896/8403782/3542bd50-1e7a-11e5-929b-f8c05acbb9c5.png)

First is vanilla, third is Ogar.

[2015-06-29 08:23] m-byte commented on #20
Tried it on my Blackberry Q10 via wifi. It works, however, having the joystick only after tapping on the left side of the screen was a bit confusing to me. Also, the display is a bit weird...
![img_20150629_101910](https://cloud.githubusercontent.com/assets/753104/8403881/ddfe922a-1e48-11e5-8ed8-0b34d8acf5f5.png)

[2015-06-29 08:26] m-byte commented on #20
@vram4 @Eureka22 since mouse interval is set on the client, it should be possible to decrease it a bit when a mobile device is detected.

[2015-06-29 08:27] Eureka22 commented on #20
@vram4 Thanks for the feedback. The joystick is intentionally designed to disappear if not touching. The display can be tuned to support all resolution. I tuned the parameters according to my tests on iPhone 6. Need more work :)

Wait, your client didn't show the split and feed icon?

[2015-06-29 08:30] m-byte commented on #20
Nope. And the joystick only appears when using the left side of the screen. On the righht side, I only get a blue circle that does nothing. As you can probably tell by the image, my resolution is 720x720

[2015-06-29 08:35] Eureka22 commented on #20
@m-byte Just fixed.

[2015-06-29 11:29] BasvdW22 commented on #20
@Eureka22 I thought the joystick was intended to be only of the left side, lol. Anyway, that's right @Eureka22 , I was visiting your site from the Netherlands, so that explains the delay. And the freezing with the keyboard also seems network related, at my home network it works just fine. I will pass the site to my friends and ask them for feedback.

[2015-06-29 13:00] Jackster35 commented on #24
Either one would do the trick, any idea how I'd do that?

[2015-06-29 14:59] Jackster35 opened #25 "Hide chat?"
Would be a way of possibly hiding the chat with a button? :)

[2015-06-29 15:13] m-byte commented on #25
Especially on cell phones, it's probably easier to have an option on the welcome screen.

[2015-06-29 15:14] vram4 commented on #25
A checkbox would be pretty easy to implement

[2015-06-29 15:14] Jackster35 commented on #25
Yes, I'm sure it wouldn't be too hard to implement. :)

[2015-06-29 15:14] Jackster35 commented on #25
I tried doing it my self but I was just having issues with getting it to work on the main_out.js

[2015-06-29 16:15] m-byte commented on #23
Weird... I thought, I had answered this question. Somehow, my phone must not have sent it. Anyway:
As you can read at [the github page about licensing](https://help.github.com/articles/open-source-licensing/), if you don't pick any license, "you retain all rights to the software, except those outlined in the [GitHub Terms of Service](https://help.github.com/articles/github-terms-of-service/)".
The

[2015-06-29 17:37] #25 closed

[2015-06-29 18:33] #24 closed

[2015-06-29 18:33] Eureka22 commented on #24
fixed

[2015-06-29 18:33] #12 closed

[2015-06-29 19:29] Jackster35 opened #27 "Big error!"
I'm running on the latest version and when you press play, the game just won't work. It also had issues where nothing worked. If you could drop your email, I'll show you a link to what I'm seeing.

[2015-06-29 19:31] m-byte commented on #27
Irgendwer2@gmail.com

[2015-06-29 19:32] Jackster35 commented on #27
Sent.

[2015-06-29 19:48] m-byte commented on #27
In your config, there is only the server ###.95.##.29:1501 hardcoded into your main.js. This server seems to be unavailable. Therefore, you are unable to connect to anything.

[2015-06-29 19:51] Jackster35 commented on #27
http://i.imgur.com/P7UBhy4.png

Is actually our hard-coded config.

[2015-06-29 19:53] vram4 commented on #27
Wait, what do you mean by the game not working? Like you can see other cells but not spawn? or just a blank screen?

[2015-06-29 19:53] Jackster35 commented on #27
It's now gone to a blank screen, I sent you a link to it on Skype vram4

[2015-06-29 19:57] m-byte commented on #27
Actually, I was wrong. It selects different servers, however, all of those seem to not be working.
So I tried to connect with the official client and it did not work on any one of them.

[2015-06-29 19:57] Jackster35 commented on #27
Go to the site without /new/ and you'll see they all work.

[2015-06-29 19:59] m-byte commented on #27
Do you have some kind of geo-lock installed? They don't work from Germany (or at least not from my ip).

[2015-06-29 19:59] Jackster35 commented on #27
Nope haha, I'm not named Zeach ;)

[2015-06-29 20:03] #27 closed

[2015-06-30 09:12] m-byte commented on #22
@helma27 Such a feature needs to be implemented in the server, the client doesn't really change for this. As Eureka22 wrote, we are currently working on an implementation of this in Cigar.

[2015-06-30 13:08] Jackster35 opened #29 "Statistics"
With vram4's latest push, now showing statistics on another port, would there be a way of getting statistics for multiple servers and showing them on the server select?

https://github.com/forairan/Ogar/commit/e3330b667f0fb26a877a466ea7c0de29a7605fe9

If you'd like a link to my server's stats page, feel free to email me at me@eptic.me and I'll send you a link. Just as something for you to work off

[2015-06-30 13:14] m-byte commented on #29
I think, this issue belongs in Cigar ;)
Also, what kind of statistics do you want to show? The users connected per server? If so, that should be possible in the master server.

[2015-06-30 13:17] Jackster35 commented on #29
Yeah, users per server. And I used the fork I posted, so master server isn't in that. (I don't really wanna be switching forks and server files tbh) haha, I've done quite a lot of that recently and I have loads of traffic so server restarting is always the last thing I want to do.

[2015-06-30 13:32] m-byte commented on #29
That's a feature that is already implemented in the client when using the master server, though. It's a lot more complicated to load those stats from each individual server. Also, there's a lot more traffic than needed.

[2015-06-30 13:35] Jackster35 commented on #29
I guess, but it's possible without the huge amount of traffic to the game servers.

[2015-06-30 15:35] m-byte opened #30 "Chat needs to be trimmed"
It is currently possible to type only spaces into the chat window. This causes either empty messages to be send or you can make single characters appear on the opposite side of the window...

I just wrote a short function that trims a string and prevents double spaces:
[code]

[2015-06-30 16:12] vram4 commented on #29
You could just go to the /info page for the player count, assuming you have 1 server per region.

[2015-06-30 19:51] Jackster35 opened #31 "Fail to respawn after you die"
Sometimes when you die, if you press play again you'll hang on an empty screen.

[2015-06-30 20:16] vram4 commented on #31
Its a server bug, the client does spawn, but it spawns in another player and gets eaten immediately, which results in the client seeing an empty screen.

[2015-06-30 20:17] Jackster35 commented on #31
Ah right, do you think there will be a fix due?

[2015-06-30 20:24] vram4 commented on #31
Probably, currently im working on trying to solve an issue with the connection limit

[2015-06-30 20:25] Jackster35 commented on #31
Ah cool man! Take your time, always appreciate your help, you're awesome! :)

[2015-06-30 20:25] #31 closed

[2015-07-01 04:36] vram4 commented on #31
Fixed in forairan/Ogar@2355a553ac128e0da5371087ce9c0686e8224528 You now spawn from food. So unless there is no food on the map, there shouldnt be problems.

[2015-07-01 15:08] Eureka22 commented on #23
Thanks!

[2015-07-01 15:08] #23 closed

[2015-07-02 16:46] deviant13 opened #32 "chat is not working"
can you please fix the chat window? when i type anything and press enter, nothing happens

[2015-07-02 16:51] Eureka22 commented on #32
Make sure you use the right server version. It works with my fork of Ogar as well as m-byte's repo Cigar. I

[2015-07-02 16:51] vram4 commented on #32
Not a bug, standard Ogar does not have chat support, use Eureka22/Ogar instead.

[2015-07-02 16:51] #32 closed

[2015-07-02 17:02] Eureka22 commented on #32
by the way, I am busy these days so I don't have time to update my code, if you want to get the latest code you can clone my repo and then pull from vram4's repo.

[2015-07-02 17:06] m-byte commented on #32
@deviant13 or use Cigar. It currently is consists of agar-clone bundled with the customized version of Ogar.

[2015-07-03 03:18] deviant13 commented on #32
i'm using windows 7, is this the issue?

[2015-07-03 05:48] Eureka22 commented on #32
@deviant13 Probably, because the binary executable file is not updated, try to use `node` to run my code instead.

[2015-07-03 05:49] Eureka22 commented on #32
@deviant13 And btw I encourage you to use Cigar.

[2015-07-03 05:55] deviant13 commented on #32
hello, thanks for the help. can you please kindly make a small detailed tutorial on how to use node and commands etc. thanks!

[2015-07-03 05:58] Eureka22 commented on #32
@deviant13 Sure. I don't use windows but you can look at this: http://stackoverflow.com/questions/15331440/how-can-i-use-nodejs-with-windows-7

[2015-07-03 06:39] deviant13 commented on #32
should i just use vmware and install linux os?

[2015-07-03 06:40] m-byte commented on #32
@deviant13 I will compile Cigar for Windows. Should be done in an hour or so. Just have to get my laptop.

[2015-07-03 06:41] deviant13 commented on #32
heeeey m-byte thanks! you're the life saver :+1:

[2015-07-03 08:48] m-byte commented on #32
@deviant13 There is now an exe available at https://github.com/m-byte/Cigar

[2015-07-03 08:50] deviant13 commented on #32
wow thank you so much.

[2015-07-11 21:42] techpulse opened #33 "Chat not working"
http://i.imgur.com/ZxQK6xC.gif

[2015-07-11 21:43] Eureka22 commented on #33
Use correct server version.  try my fork of Ogar or use Cigar

[2015-07-11 21:43] #33 closed

[2015-07-11 21:46] techpulse commented on #33
Does your 'fork' of ogar also contain the latest fixes that vram made?

[2015-07-11 21:46] techpulse commented on #33
you should add a standalone chat, that i can run instead of running it with ogar or cigar :) ?

[2015-07-11 21:47] Eureka22 commented on #33
No. It's not updated for a long time. You need to fix that your self.

[2015-07-11 21:48] Eureka22 commented on #33
You can write a standalone chat using socket, as the rendering function is already implemented it should not be hard :)

[2015-07-11 21:49] techpulse commented on #33
no i don't code javascript, and ogar has been updated recently with fixes

[2015-07-12 21:59] mafiakb opened #34 "This is possible?"
Hi, one question.

Is possible add border at virus or cell?

Image.

![border](https://cloud.githubusercontent.com/assets/12769609/8640245/5426bff4-28b7-11e5-96f0-6085f3a280e7.png)

[2015-07-12 22:10] m-byte commented on #34
I am not exactly sure what you are trying to accomplish. Do you want the border to be thicker? And if so, do you want it the same width for every user?

[2015-07-12 22:47] mafiakb commented on #34
Yes, look border have line u can add?

[2015-07-12 22:51] m-byte commented on #34
It is set to 10px in https://github.com/Eureka22/agar-clone/blob/master/main_out.js#L1428
So it should already be there.

[2015-07-12 23:06] mafiakb commented on #34
U best nice border, but u can add line? example:

![border2](https://cloud.githubusercontent.com/assets/12769609/8640497/b3e85368-28c0-11e5-8185-7bdd142685bb.png)

[2015-07-12 23:07] Eureka22 commented on #34
@mafiakb Why do you want to add line? It seems that it does not look any better.

[2015-07-12 23:11] mafiakb commented on #34
@Eureka22 to make it look different and make changes.

[2015-07-13 00:56] mafiakb commented on #34
is possible add line?

[2015-07-13 07:11] m-byte commented on #34
It's sssomething you'll have to do after downloading agar-client.

[2015-07-13 07:11] #34 closed

[2015-07-14 13:13] djoey123 opened #35 "cant connect to own server"
when i try to connect it will auto close it http://prntscr.com/7sk5ux

[2015-07-14 13:50] FilipeGNU opened #36 "How to enable the chat?"
I have a agario server.

I use the following server : https://github.com/forairan/Ogar

And use the client of you , but can not make the chat function , he even appears but when I type something not working .

Follow the link from my server : http://agar.labfree.com.br/

[2015-07-14 18:30] vram4 commented on #36
Use https://github.com/m-byte/Cigar for chat support.

[2015-07-14 18:30] #36 closed

[2015-07-14 18:42] FilipeGNU commented on #36
Tankyou very much!
Sorry for my bad english...

[2015-07-14 18:43] vram4 commented on #34
@Eureka22 He wants to avoid copyright issues :p

[2015-07-15 10:24] Ganggroid opened #37 "I'm trying to connect agar.io original server"
![2015-07-15 19 21 53](https://cloud.githubusercontent.com/assets/5188404/8696399/f7e117f4-2b26-11e5-9cdf-b7a51b5de26d.PNG)

i have an error!
what problem??

[2015-07-15 10:59] m-byte commented on #37
Connecting to the official server is a feature we do not support. This client does not offer any additional features when connected to official servers, so there is no point in us supporting this.

https://github.com/Eureka22/agar-clone/#faq

[2015-07-15 10:59] #37 closed

[2015-07-15 11:28] Ganggroid opened #38 "failed: Error during WebSocket handshake: Unexpected response code: 400"
failed: Error during WebSocket handshake: Unexpected response code: 400
![2015-07-15 19 21 53](https://cloud.githubusercontent.com/assets/5188404/8697452/0697ffac-2b30-11e5-9052-3e076450eed3.PNG)
How to fix this error?

[2015-07-15 11:39] m-byte commented on #38
@Ganggroid The problem is on the server side. There is no way to fix this in agar-clone.
In your last issue you wrote that this IP belongs to an official server. We don't support the official server with this client. If you want to use the official server, use the official client.

[2015-07-15 11:39] #38 closed

[2015-07-15 11:40] m-byte commented on #35
The problem seems to be the server. I can't say for sure, though. What server are you running? Ogar? Cigar? And how did you configure agar-clone?

[2015-07-15 11:46] djoey123 commented on #35
it is fixed now i dont know how but it works now

[2015-07-15 11:46] #35 closed

[2015-07-15 12:56] Ganggroid opened #39 "so, I mean.."
I want answer about it.
I'm using Original Agar.io client.
I copy that, and i accpet at my server.
But It has error
![2015-07-15 19 21 53](https://cloud.githubusercontent.com/assets/5188404/8698857/443ff7b8-2b3c-11e5-984b-d68cd74d58a3.PNG)
Uh.. I want to listen about how to Fix this error in server.
My server is using Apache2.
Thanks.

[2015-07-15 13:42] m-byte commented on #39
Please use agar-clone (the client you are writing issues for although you are not using it), or stop writing issues here. We don't support the official client or server.

[2015-07-15 13:42] #39 closed

[2015-07-16 00:40] FilipeGNU opened #40 "How to enable multi servers..??"
I'm not a good programmer and wanted to know how to change the main_out.js to accept multiple servers.

I suppose I change the server "index.html" and set the region for "CN-China" , hence wanted the "main_out.js" recognize and according to this option it sets the "CONNECTION_URL" variable according to the server.

[2015-07-16 00:48] m-byte commented on #40
Which server are you using? If you're using Cigar, use the built-in client. It already supports multiple servers.

[2015-07-16 01:34] FilipeGNU commented on #40
I use a cigar with the client in LAMP

[2015-07-18 11:32] matrixreal opened #41 "connecting issue ???"
hi
great project
i upload all files to my website (it support php)
disable firewall / change url to my url and port
but i get this error
Connecting
If you cannot connect to the servers, check if you have some anti virus or firewall blocking the connection.
any help please ?
you can take a look here 88.167.14.2

[2015-07-19 08:58] matrixreal commented on #41
@Eureka22
any one can help please ?

[2015-07-19 17:47] Eureka22 commented on #41
@matrixreal Which version of server are you using? Recently the main fork of Ogar has added code to prevent custom client connection, in order to protect Zeach(author of agar.io)'s legal rights. So it might be the reason why you cannot connect.

This repo don't garantee you can connect to server withour any configuration. By the way, see https://github.com/Eureka22/agar-clone#disclaimer

[2015-07-19 18:14] matrixreal commented on #41
@Eureka22
yes also this http://fxia.me/agar/ not work
so i can't put this source into my public server ?
and about wich server you ask ?

[2015-07-19 18:18] Eureka22 commented on #41
@matrixreal my demo works again.
I mean this repo is a client, but which server are you using?

If you want to use it in your public server, you can use my fork of Ogar or Cigar.

[2015-07-19 18:36] matrixreal commented on #41
@Eureka22
i'm very bad in english but i will try to explain you
i have a good configuration and good internet speed
i want to put this fork into a public serveur
what i do ?
copy all files into htdocs of xampp
i enable mysql and apache
i replace the CONNECTION_URL with your own ip and port in main_out.js
but i got this
![z](https://cloud.githubusercontent.com/assets/6823974/8767223/dc4f0140-2e55-1

[2015-07-19 18:41] Eureka22 commented on #41
@matrixreal I am a little bit confused. Are you using Ogar? Or are you trying to connect to official server?

[2015-07-19 18:42] matrixreal commented on #41
@Eureka22
i just download and copy this https://github.com/Eureka22/agar-clone

[2015-07-19 18:44] Eureka22 commented on #41
@matrixreal OK. Here is the thing. My repo is only a client, you will still need a server to make it work. You will need to configure Ogar, you can start with looking at https://github.com/Eureka22/Ogar . This is my fork of Ogar, it is not up to date but has most of the functions.

[2015-07-19 19:07] matrixreal commented on #41
@Eureka22
ok thanks a lot
now got this
![z](https://cloud.githubusercontent.com/assets/6823974/8767356/12a6d89a-2e5a-11e5-9b6c-62b9a6444ad3.png)
now where to put client and lunch the game ? thanks

[2015-07-19 19:17] Eureka22 commented on #41
@matrixreal Put the ip and address of *server* at CONNECTION_URL

[2015-07-19 20:11] matrixreal commented on #41
@Eureka22 wich files ? where ?

[2015-07-20 00:10] Eureka22 commented on #41
@matrixreal main_out.js

[2015-07-20 09:35] matrixreal commented on #41
@Eureka22
i have put my ip and port 88.167.14.2:80
but still not working
![dc4f0140-2e55-11e5-8539-7a6658648f4e](https://cloud.githubusercontent.com/assets/6823974/8773199/b0f6994a-2ed2-11e5-8eec-b1f72e3b2991.png)

[2015-07-20 09:41] m-byte commented on #41
@matrixreal did you install Ogar or Cigar?

[2015-07-20 09:42] vram4 commented on #41
@matrixreal You need to put the port of the game server in connection_url. Ex. "127.0.0.1:443"

[2015-07-20 09:43] matrixreal commented on #41
@m-byte
i install ogar (i follow the steps )
then i put this to htdocs on xampp folder
but like it asking for connecting ...

[2015-07-20 09:44] matrixreal commented on #41
@vram4
i already put it
    /**
     * Enter url in the following format: HOST : PORT
     *
     * Example: 127.0.0.1:443
     *
     */
    var CONNECTION_URL = "88.167.14.2:443";
    /**
     * Enter path to the skin image folder
     * To take skins from the official server enter: "http://agar.io/skins/"
     */
    var SKIN_URL = "./skins/";//skins folder

[2015-07-20 09:44] matrixreal commented on #41
also try with port 80 and quit skype etc ...

[2015-07-20 09:45] vram4 commented on #41
@matrixreal Except that your game server is listening on port 66, so the connection url would be "88.167.14.2:66"

[2015-07-20 09:45] matrixreal commented on #41
i just want to create new server on home like this http://fxia.me/agar/
since i have good internet and good configuration

[2015-07-20 09:46] m-byte commented on #41
Did you start Ogar after installing it?

[2015-07-20 09:56] matrixreal commented on #41
@m-byte
yes npm start ?

[2015-07-20 09:58] matrixreal commented on #41
here are the step i do

1)install server
git clone git://github.com/forairan/Ogar.git Ogar
npm install ./Ogar
node Ogar

2)install client
copy all files of this repo to htdocs + change the ip and port (to my ip and the port i use to listen on xampp)

[2015-07-20 10:22] m-byte commented on #41
You need to enter the port and IP Ogar is listening on.

[2015-07-20 10:28] matrixreal commented on #41
my ip ? and the port that ogar is listen ? 443 by default no ?

[2015-07-20 10:30] vram4 commented on #41
@matrixreal From your screenshot, youre listening on port 66.

[2015-07-20 10:42] matrixreal commented on #41
hi,
thanks now work on local THANKS A LOT you MAKE ME HAPPPYYYYY
cn you give it a try 88.167.14.2

[2015-07-20 11:19] matrixreal commented on #20
hi
@Eureka22
thanks for the game
the touch event doesn't seem to work good
i see the joystick but the dot dont follow the joystick
the dot follow only when you touch and release but not when you are touching
also is there a way to disable chat on mobile ?
thanks

[2015-07-20 13:38] Ganggroid opened #42 "what the.."
![image](https://cloud.githubusercontent.com/assets/5188404/8776951/d419eb04-2f2f-11e5-8b9d-a39135a8adb0.png)
There is an infinite loop!
Screen is shiny!
oh..

[2015-07-20 14:27] m-byte commented on #42
Seems to be an issue with your server. Are you sure that you entered the correct port and ip?

[2015-07-20 14:32] Ganggroid commented on #42
yes

[2015-07-20 15:16] Ganggroid commented on #42
@m-byte Please help me

[2015-07-20 15:33] m-byte commented on #42
Port 443 on that IP seems to be closed. Please check the firewall on your server.

[2015-07-20 17:54] vram4 commented on #42
Ogar no longer allows connections from websites that are not Agar.io

[2015-07-20 18:12] matrixreal opened #43 "[Suggestion]"
@m-byte
@Eureka22
hi,
i just put this clone on my website and change the port
now it work good
however for mobile we have to touc the joystik on the bottom left
can you put it bu way that we can control the dot on all the screen and not only on the bottom left ?

how can i make my own server ? private ? with only my friend ? because i want to make a server at home

MANY MANY MANY THANKS FROM FRANC

[2015-07-20 18:14] Eureka22 commented on #20
@matrixreal The joystick is on the left half of the screen while split and feed button is on the right. It is intended so.

You can disable chat on the welcome page.

[2015-07-20 18:19] matrixreal commented on #43
i mean if there is possible to make my own server and not use the ogar server because sometimes it lagg maybe due to internet connection

[2015-07-20 18:22] Ganggroid commented on #42
@vram4 so, can't i use ogar ??

[2015-07-20 19:44] m-byte commented on #43
@matrixreal use https://github.com/m-byte/Cigar

You can either use nginx to add some basic password protection or wait until I am done implementing user accounts in Cigar.

[2015-07-20 19:48] matrixreal commented on #43
@m-byte
i was thinking that because i have best internet to put my own server wihout ogar or cigar (public)
is there a way ?
thanks we are happy in france

[2015-07-20 19:57] m-byte commented on #43
@matrixreal Ogar/Cigar is the software you need to run on your server. Without it, agar-client (standalone or integrated in Cigar) has nothing to connect to.

[2015-07-20 19:59] m-byte commented on #42
Use Cigar instead. It already comes with the client and continue to work with it.

[2015-07-20 20:00] matrixreal commented on #43
@m-byte
i'm little bit confused
http://fxia.me/agar/ has your client based on the ogar server ?
so this website contain only the client or contain the server too ?
because of my pc i just use your client and it work

[2015-07-20 20:22] m-byte commented on #43
Eureka22 is running both a customized version of Ogar (the server, early version of Cigar) and agar-client.

Ogar is a server you can install on your own server. It now only works with the official client (agar.io).

Before starting Cigar, we attempted to merge our code into Ogar, but it was not accepted. Now custom clients are banned from regular Ogar and you have to use Cigar or an old version o

[2015-07-20 20:48] BasvdW22 commented on #20
@Eureka22 oh right, so it is intended to be only on the left side, never mind. :sweat_smile:

[2015-07-20 20:49] Eureka22 commented on #43
@matrixreal agar-clone is just client, it works because you are connecting to my server

[2015-07-21 12:44] mrmarktyy opened #44 "Where can we find out when a player is died (eg, all his cells were eaten) in Ogar server's code"

[2015-07-22 00:53] NikoCodex opened #45 "Unable to connect properly"
I'm using latest version of ogar with this clone. This happens: http://prntscr.com/7vh7xm
Any help? Thanks.

[2015-07-22 01:15] vram4 commented on #45
That version of Ogar is incompatible with agar-clone. Please use https://github.com/m-byte/Cigar instead.

[2015-07-22 01:21] NikoCodex commented on #45
Thanks works fine.

[2015-07-22 01:21] #45 closed

[2015-07-22 01:35] NikoCodex opened #46 "How to add "Teams" or "Experimental" to work"
I keep clicking them however it doesn't seem to work, it just sends me into the same server.
What do i type in the master console to get it working?
I mean can someone explain to me how to do it? This has confused me...

[2015-07-22 01:36] NikoCodex commented on #46
I'm using Cigar by the way.

[2015-07-22 05:31] mafiakb commented on #42
@Ganggroid u need edit Ogar Server and need last client Agar.io

[2015-07-22 16:42] mafiakb commented on #46
@NikoCodex need modify client

[2015-07-22 16:43] NikoCodex commented on #46
Here is my website http://blobeatblob.cf/ and how do i modify the client?
I got the problem that i need to open another port with the same source with the gamemode, but how do i make it connect?
Thanks.

[2015-07-22 17:05] mafiakb commented on #46
Modify index.html, main_out and add js.

index.html modify:

<script src="js/servers.js"></script>
</head>
////////
<select id="region" class="form-control" onchange="setRegion($('#region').val());" required>
<option value="0" selected>Server #1</option>
<option value="1">Server #2</option>
<option value="2">Server #3</option>
//////
<script type="text/javascript">
           var domain = "localho

[2015-07-22 17:06] mafiakb commented on #46
@NikoCodex use this guide:

http://pastebin.com/0Xa5sHum

[2015-07-22 17:18] NikoCodex commented on #46
Doesn't work http://blobeatblob.cf/
I honestly doubt this is the way you do it, any other way, i think that it needs to request the ip and port for the gamemodes in main.php

[2015-07-22 17:20] mafiakb commented on #46
@NikoCodex yes work men =/ but np

[2015-07-22 17:20] NikoCodex commented on #46
It DOESNT work.

[2015-07-22 17:22] mafiakb commented on #46
<script type="text/javascript">
           var domain = "localhost";
           var host = "ip:port";
           var pvp_title = "PVP";
           var KEY_ENTER = 13;
           var skor_name = "SKOR";
</script>

[2015-07-22 17:24] NikoCodex commented on #46
I edited it, now i reverted to old settings, i'm trying to use the same method Agar.io or Agario.biz uses. This just...

[2015-07-22 17:26] mafiakb commented on #46
i clone agar.io or agario.biz how much? :3

[2015-07-22 17:27] NikoCodex commented on #46
Agario.biz uses this agar clone and they use a different method of gamemodes.
They use main.php to retrieve the new IP:PORT when the gamemode is chosen, i'm looking for that method, i don't want you to copy anything.

[2015-07-22 17:28] mafiakb commented on #46
agario.biz no use main.php. look

				<select class="btn btn-primary" id='serverim' onchange="setserver($(this).val());">
					<option value='146.148.51.129:443'>FFA 1</option>
					<option value='130.211.89.246:443'>FFA 2</option>
					<option value='37.123.102.149:443'>FFA 3</option>
					<option value='146.148.51.129:4440'>FFA 4</option>
					<option value='130.211.89.246:1453'>Team</option>

[2015-07-22 17:35] NikoCodex commented on #46
Interesting, can you help me implement it?

[2015-07-22 19:03] m-byte commented on #46
As I wrote over at https://github.com/m-byte/Cigar/issues/26, there is an easier solution: edit masterserver.ini and define your custom regions.

[2015-07-22 19:06] NikoCodex commented on #46
As i wrote there, there is an even easier solution
Sorry to challange your intellect, but there's a way without regions.
Add this to the main_out.js
Handle.setserver = function (arg) {
        if (arg != gameMode) {
             CONNECTION_URL = arg;
            gameMode = arg;
            showConnecting();
        }
    };
In index, change
onchange="setGameMode($(this).val());"
to
onchange="setse

[2015-07-22 19:07] m-byte commented on #44
First of all, please don't use the title to write the "issue". It just makes the overview page cluttered.
Next, please write the issue in the queue of the correct project. Agar-clone is only a client.

[2015-07-22 19:07] #44 closed

[2015-07-22 19:19] m-byte commented on #46
First of all, there is no need to be rude. All the developers working on these projects do so in their free time. Same goes for answering issues.

Given that you apparently expected mafiakb to do all the work for you, it appeared fair to assume that you were searching for an easy solution. That's exactly what I gave you.

If you think you are smarter than everyone working on this project, feel fre

[2015-07-22 19:19] #46 closed

[2015-07-22 19:20] NikoCodex commented on #46
Unfortunately i am not a developer of Javascript or Node JS.

[2015-07-23 11:40] mrmarktyy commented on #20
Hi @Eureka22 , do you know approximately what is the minimum bandwidth requirement for running a agar server and having about 50 players online without feeling laggy? thank you!

[2015-07-24 14:42] matrixreal opened #47 "[question]"
hi,
is there another website to test the game i have tested this http://eureland.me
is there another ?
thanks

[2015-07-25 09:43] matrixreal commented on #47
@Eureka22
@m-byte
why game is lagging much on mobile ? http://eureland.me ?
thanks for reply

[2015-07-25 09:54] matrixreal commented on #47
this website is using an ogar server ?

[2015-07-26 11:12] m-byte commented on #47
It is using our modified Ogar. You could think of it as Cigar 0.1.

[2015-07-27 02:09] FilipeGNU commented on #40
I made the following changes:

In index.html on the arrow where the region made ​​the following change:
<select id="region" class="form-control" onchange="setaserver(this.value)" required>

I added this script in the header
 <script type="text/javascript">
    function setaserver(ip) {
       var CONNECTION_URL = ip;
    }
 </script>

However not worked out as I add support for multiple servers us

[2015-07-27 02:09] FilipeGNU commented on #40
I made the following changes:

In index.html on the arrow where the region made ​​the following change:
<select id="region" class="form-control" onchange="setaserver(this.value)" required>

I added this script in the header
 <script type="text/javascript">
    function setaserver(ip) {
       var CONNECTION_URL = ip;
    }
 </script>

However not worked out as I add support for multiple servers us

[2015-07-27 02:10] FilipeGNU commented on #40
I made the following changes:

In index.html on the arrow where the region made ​​the following change:
"<select id="region" class="form-control" onchange="setaserver(this.value)" required>"

I added this script in the header
" <script type="text/javascript">
    function setaserver(ip) {
       var CONNECTION_URL = ip;
    }
 </script>"

However not worked out as I add support for multiple server

[2015-07-27 02:11] FilipeGNU commented on #40
I made the following changes:

In index.html on the arrow where the region made ​​the following change:
select id="region" class="form-control" onchange="setaserver(this.value)" required

I added this script in the header
script type="text/javascript"
    function setaserver(ip) {
       var CONNECTION_URL = ip;
    }
/script

However not worked out as I add support for multiple servers using your

[2015-07-27 02:48] FilipeGNU commented on #40
If you can help me until I 'll pay for it.

I prefer that the client is via apache server because of performance and ease , with the cigar would have to create a proxy to interpret the site and entered direcionace the traffic for 88 WHAT port would generate much lag

[2015-07-27 17:47] m-byte commented on #40
You might want to take a look at this: http://www.s-anand.net/blog/server-speed-benchmarks/
Apart from that, you have to remove the `var` in front of `CONNECTION_URL` as you are otherwise creating a new variable called `CONNECTION_URL` that is in no way related to the global one. Also, you have to call `attemptConnection()` after changing the IP.

[2015-07-28 00:50] helma27 commented on #47
you can test mine here, http://agarindo.pw

[2015-07-28 09:09] matrixreal commented on #47
@helma27
how you done it friend ?
now my server is accessible via 88.167.14.2
but as you can see i got always connecting issue from public internet
on local when i tape 88.167.14.2 it work
any solution ?

[2015-07-28 13:08] matrixreal opened #48 "mobile lagg issue"
hi all
can you tel me why it lag a lot on mobile ? (i have good internet)
also can you ajust joystick controle on mobile like original agar.io
thanks

[2015-07-28 16:44] Eureka22 commented on #47
@helma27 I am glad you made that.

[2015-07-28 16:44] xmicro commented on #41
i also have this issue. i have main_out.js configured as 24.183.175.170:443, but when i start the server, it saying connecting. please help.

[2015-07-28 16:51] Eureka22 commented on #48
The server is in SF and that is the only problem. If you do a local host then this problem goes away. Close this issue because it has nothing to do with this repo.

[2015-07-28 16:51] #48 closed

[2015-07-28 17:16] matrixreal commented on #48
can i do a localhost on mobile ? or it download it automatically since lunch on mobile browser ? confuseD ?

[2015-07-28 17:18] Eureka22 commented on #48
Run a server on your localhost, connect your phone to the same LAN as your computer. Then test it on your mobile browser.

[2015-07-28 17:18] matrixreal commented on #47
@helma27
how you add music ? and modify the game title ? what is the file to change ?
thanks for reply

[2015-07-28 17:28] matrixreal commented on #48
i'm putting game here 88.167.14.2

[2015-07-29 10:14] m-byte commented on #47
@matrixreal Edit index.html

[2015-07-29 10:16] matrixreal commented on #47
@m-byte but there is no index.html ???
https://github.com/m-byte/Cigar
it was deleted no ?

[2015-07-29 10:19] m-byte commented on #47
You wrote the issue for the wrong project. In agar-clone, it is index.html, for Cigar, use game.hbs. As i wrote in the commit https://github.com/m-byte/Cigar/commit/a4e53eb51ab08ae0a6191b595a9d1b3a9ce3b2bd, index.html is not used in Cigar and only caused confusion. For changing the title, use https://github.com/m-byte/Cigar/blob/master/server/web/routes/index.js

[2015-07-29 10:19] #47 closed

[2015-07-29 10:21] helma27 commented on #47
@Eureka22 thank you for your great works! I love your works :) But some people has some issue in some browser, like blank page or You must press ESC to get the menu and play it,, Mostly occur in Mozilla Firefox browsers..

@matrixreal right now i'm using multiple server, one in Singapore (@forairan Ogar Server)
Second US Server (@forairan Ogar Server)
And Amsterdam Server that i used in mode FFA,

[2015-07-29 10:21] matrixreal commented on #47
@m-byte i'm sorry
thanks a lot
great project
we love you here in France
but there is only small issue with mobile lagging
hope you will it soon

[2015-07-29 10:22] m-byte commented on #47
@matrixreal just reread my post and it sounds pretty harsh didn't mean for it to sound that way. No need to be sorry ;)

[2015-07-29 10:27] matrixreal commented on #47
@helma27 yes you got reason
there is also white page in safari browser
is there a way to disable chat and enable smooth render automatically (by default)

[2015-07-29 10:30] m-byte commented on #47
@matrixreal Currently I am working on a complete rewrite of the client. It will be based on pixi.js. It will also be more tightly integrated with Cigar (you'll be able to configure the client from the server config). After that, I'll continue my work on user management and then, the next goal is having the ability to use multiple separate servers.

[2015-07-29 10:47] matrixreal commented on #47
@m-byte wow
i told you you are magic ...
we are waiting :dancer:
last issue about mobile lagging , what do you think ?

[2015-07-29 10:51] m-byte commented on #47
At the moment, you can disable the chat using the options.

[2015-07-29 10:53] matrixreal commented on #47
@m-byte
thats okay thanks
i disable chat and enable smooth render but the game still lagging ?

[2015-07-29 17:13] helma27 opened #49 "Problem with Picture!"
Hello @Eureka22 , i need your help...
I change the skins directory to http://skinz.myagarclone/skins/
I already CHMOD it to 777
But, the skins didnt show..
and, oddly, when i put pict on http://myagarclone/skins, it would appear!
I already edit the main_out.js too!
Do i miss something?

Thank you